<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action='/addingMessage' method='post'>
        <input type='text' name='title'>
        <textarea type='text' name='Content'></textarea>
        <button type='submit'>Send</button>
    </form>
</body>
</html>