<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <%for(i = 0; i < chatMessage.length; i++) {%>
            <div id="chat">
                <h3><%= chatMessage[i].title %></h3>
                <p><%= chatMessage[i].Content %></p>
            </div>
        <% } %>
    </div>
    <div>
        <form action='/addingMessage' method='post'>
            <input type="date" name="date">
            <input type='text' name='title'>
            <input type=''
            <textarea type='text' name='Content'></textarea>
            <button type='submit'>Send</button>
        </form>
    </div>
</body>
</html>
