<!DOCTYPE html>
<html>
<head>
  <title> Edit fun and trianing </title>
</head>
<body>
  <h1>edit Rat Fun And Training</h1>
  <form action='/editFunAndTraining' method='post'>
      <textarea type='text' name='content'><%= infoPost[4].content %></textarea>
      <button type='submit'>Submit edits</button>
  </form>
</body>
</html>
