<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <textarea type='text' name='content'><%= infoPost[2].content %></textarea>
    <button type='submit' id='submitEditButton'>Submit Edits</button>
  <script src='js/index.js'></script>
</body>
</html>
