<!DOCTYPE html>
<html>
<head>
  <title> Edit Envirment </title>
</head>
<body>
  <h1>Rat Envirment/Cage/Home</h1>
  <form action='/addToFood' method='post'>
      <textarea type='text' name='content'><%= infoPost[3].content %></textarea>
      <button type='submit'>Send</button>
  </form>
  <script src='js/index.js'></script>
</body>
</html>
