<!DOCTYPE html>
<html>
<head>
  <title>pet rat Envirment/Cage/Home</title>
</head>
<body>
<style>
    textarea {
        width: 500px;
        height: 500px;
    }
</style>
<div id=titleContainer>
    <h3>Food and Diet for Pet Rats</h3>
</div>
<div id="infoContainer">
    <p><%=  infoPost[3].content %></p>
</div>
<a href="/editEnvirment">
  <button>Edit</button>
</a>
<body>
</html>
