<!DOCTYPE html>
<html>
<head>
  <title>pet rat food and diet</title>
</head>
<body>
<style>
    textarea {
        width: 500px;
        height: 500px;
    }
</style>
<div id=titleContainer>
    <h3><%= infoPost[1].title %></h3>
</div>
<div id="infoContainer">
    <p><%=  infoPost[1].content %></p>
</div>
    <button type='submit' id='submitEditButton'>Submit Edits</button>
    <textarea><%= infoPost[1].content %></textarea>
    <script src='js/index.js'></script>
<body>
</html>
