<!DOCTYPE html>
<html>
<head>
  <title> Edit fun and trianing </title>
</head>
<body>
  <h1>Rat Fun And Training</h1>
  <div>
    <%= infoPost[4].content %>
  </div>
  <a href="/editFunAndTraining">
    <button> edit </button>
  </a>
</body>
</html>
