<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/styles.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="jumbotron" id="headerBar">
  <div class="container">
    <h1 id="headerText"> Pet Rat's </h1>
  </div>
</div>
<div class="jumbotron" id="navBarDiv">
  <div class="container" id="navBarContainer">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="/">
        <h6>Home</h6></a></li>
      <li role="presentation"><a href="/chat"><h6 class="navBarItem">
        Chat</h6></a></li>
      <li role="presentation"><a href="/envirement"><h6 class="navBarItem">
        Envirment</h6></a></li>
      <li role="presentation"><a href="/food"><h6 class="navBarItem">
        Food</h6></a></li>
      <li role="presentation"><a href="/health"><h6 class="navBarItem"
        >Health</h6></a></li>
      <li role="presentation"><a href="/funAndTraining"><h6 class="navBarItem"
        >Fun And Training</h6></a></li>
    </ul>
  </div>
</div>
<div class="container">
  <img class='img-responsive' class='.img-rounded' id='homeImg' src=
    "https://pixabay.com/static/uploads/photo/2015/08/02/11/59/rat-871089_960_720.jpg">

</div>
</body>
</html>
